
p{ 
  color: white;
  }
  
  label{
    color: white;
  }
  
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 0.75rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 200;
      line-height: 1.2;
      color: white;
  }



#home-content {
  text-align: center;
  padding-top: 20%;
}
