nav{
  outline: 8px dotted #4e6f54;
  background:linear-gradient(to top, #4e6f54 0%, #718760 70%);
}

.btn{
  color: #3a4549;
  background-color: white;
  box-shadow: 0 0 10px #00000;
  border-radius: 5px; 
    
}

p{ 
color: white;
}

.p-4 {
    padding: 4.5rem !important;
}

label{
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 200;
    line-height: 1.2;
    color: white;
}
