{% extends 'base.html'%}

{% block body %}



<head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "accounts/style.css" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    

<body>

  <div class="py-fluid w-100 bg-dark p-4 h-75">
    <div class="container-fluid TEX">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h1 class="">Crie sua conta e compartilhe o que quiser!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mr-auto">
          <p class="lead">Compartilhe o que quiser, com quiser!&nbsp;
            <br>
          </p>
          <p class="">Prezamos o poder da comunicação, valorizamos as interações humanas sem censura. Crie conteúdo, compartilhe, debata e colecione amigos em nossa plataforma.&nbsp;
            <br>
          </p>
        </div>
        <div class="col-md-6">
          <form class="">
            <div class="form-group">
              <label>Endereço de email
                <br>
              </label>
              <input type="email" class="form-control" placeholder="Insira seu email">
              <small class="form-text text-muted">Nossa equipe não irá compartilhar seus dados com ninguém.&nbsp;</small>
            </div>
            <div class="form-group">
              <label>Senha
                <br>
              </label>
              <input type="password" class="form-control" placeholder="Senha"> </div>
            <button type="submit" class="btn btn-primary">Cadastre-se</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white h-25 mr-auto py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline text-center">
            <li class="list-inline-item">Termo de compromisso</li>
            <li class="list-inline-item">Privacidade</li>
            <li class="list-inline-item">Sobre nossa empresa</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 - GADO DEMAIS.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>




{% endblock  %}}